body {
font-family: 'Roboto', sans-serif;
color: #2d3c49;
}


.grid {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.align-right {
  text-align: right;
}

h1 {
  font-size: 3em;
}

h3 {
  font-size: 2em;
  color: #7d97ad;

}

.material-icons {
  font-size: 9em;
  color: #02b3e4;
}
.name {
  height: 4.5em;
}

.featured-work {
  height: 75px;
  padding-left: 10px;
}

img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: 0 auto;
}

.project {
  width: 31%;
  padding-left: 1.16%;
  padding-right: 1.16%;
}

.project-title {
  font-size: 2em;
  text-align: center;
}

.project-link {
  text-align: center;
  font-size: .75em;

}

a {
    text-decoration: none;
    color: inherit;
}

@media screen and (max-width: 1024px){
  img {
    width: 50%;
  }
  .hero{
    width: 100%;
  }
  .project {
    width: 100%;
    padding-bottom: 20px;
  }
  .featured-work {
    text-align: center;
    padding-left: 0px;
    height: auto;
  }
}
